html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction:column;
}

.content{
    flex: 1 0 auto;
    border: 1px solid black;
    margin-top: 1.5rem;
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    height: 100%;
    border: 1px solid black; 
    border-radius: 15px;
}

.footer {
    flex-shrink: 0;
    
}

.footer-icon{
    font-size: 24px;
}